html,
body {
  font-family: oskar, sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

h1 {
  text-align: center;
  font-family: delittle-chromatic-outline, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
