/* variables, animations */
:root {
  --turq: #00ffe9;
  --yellow: #e9ff00;
  --pink: #ff00e5;
}

@keyframes gradText {
  0% {
    color: var(--turq);
  }
  33% {
    color: var(--yellow);
  }
  66% {
    color: var(--pink);
  }
  100% {
    color: var(--turq);
  }
}

@keyframes gradBg {
  0% {
    background-color: var(--turq);
  }
  33% {
    background-color: var(--yellow);
  }
  66% {
    background-color: var(--pink);
  }
  100% {
    background-color: var(--turq);
  }
}

@keyframes gradOutline {
  0% {
    outline: var(--turq) 3px solid;
  }
  33% {
    outline: var(--yellow) 3px solid;
  }
  66% {
    outline: var(--pink) 3px solid;
  }
  100% {
    outline: var(--turq) 3px solid;
  }
}

/* styling rules */
html,
body {
  font-family: oskar, sans-serif;
  width: 100%;
  height: 100%;
  background-color: black;
  color: var(--turq);
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

h1 {
  font-family: delittle-chromatic-outline, sans-serif;
  text-align: center;
  animation: gradText 8s infinite;
  font-size: 3em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 1em;
  background: transparent;
  border-radius: 5px;
  border: 3px solid var(--pink);
  padding: 1em;
  font-family: oskar, sans-serif;
  font-size: 1.5em;
  width: 33vw;
  min-width: 300px;
  transition: all 0.5s ease;
}

.💧 button {
  color: var(--turq);
  border-color: var(--turq);
}

.🌞 button {
  color: var(--yellow);
  border-color: var(--yellow);
}

.🌸 button {
  color: var(--pink);
  border-color: var(--pink);
}

button:hover {
  color: black;
  animation: gradBg 2s infinite;
}

button:focus {
  color: black;
  animation: gradOutline 2s infinite, gradBg 2s infinite;
  outline-offset: 3px;
}

.💧 button:hover,
.💧 button:focus,
.🌸 button:hover,
.🌸 button:focus,
.🌞 button:hover,
.🌞 button:focus {
  border-color: black;
}

footer {
  text-align: center;
}
